<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../site.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <link rel="stylesheet" type="text/css" href="../../sidenav.css">
    <title>Calendar</title>
</head>
<header>
    	<header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header" >
                </div>
                    <div id="mySidenav" class="sidenav" align="left">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/calendar">Преглед</a>
                    <a href="/">Чат с нас</a>
                    <a href="/">За нас</a>
                    <a href="/calendar">Календар</a>
                    <a href="/calendar">Регистрация</a>
                    <a href="/calendar">Вход</a>
                    </div> 
                    <div style="font-size:30px;cursor:pointer;color:rgb(255, 255, 255);display:inline-block; float: right" onclick="openNav()">&#9776; Меню</div>
                    
                    <script>
                        function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }
                        function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                    </script>
                </div>
        </div>
    </header>
</header>   
    <style>
        body{
            background-color:white
        }
    </style>
    {{{body}}}
</html>