<body >
    <div style="border:1px solid #ddd;padding:1%" >
            <h1 style="text-align: center">About me</h1>
            <hr>
            <p>
                My name is Boris Velkovski and I am from Pleven, Bulgaria. I study in the High School of Mathematics "Geo Milev".
            </p>
            <p>
                I am a computer geek. I love playing video games and programming. I like everything releated to technology. 
                Despite that I also like sports and go to the gym. Another interest of mine is physics and below is a summary of my school life. 
            </p>
            <p>
                Since 5th grade I've been studying informatics and I won a few competitions in the beginning. Since then I've participated in most national competitions.
                The language I use for the competitions is C++. To participate in the competitions you have to be knowledgeable of algorithms, data structures, optimizations
                 and have a sharp mind. This year I even 
                reached the final stage of the National Olympiad in Informatics. In 7th grade I was introduced to OOP and used it to make a snake game with C++ as a console application. 
            </p>
            <p>
                When 7th grade began I joined the physics club. It was really interesting and I learned about mechanics and electricity. Solving physics problem I further 
                developed my problem solving skills. I still use this knowledge for IoT related projects. I have also participated in many national physics competitions. 
            </p>
            <p>
                Usually there is no subject informatics till 8th grade. That's when I started learning C#. I read more articles about OOP and Console Applications. I find OOP really interesting
                 and useful. I use C# mostly at school, although I've made some short and simple games with Unity. 
            </p>
            <p>
                In 10th grade a few friends and I decided to resurrect the robotics club in our school. We learned from already graduaded students about what they were doing. 
                I was the programmer in the club. I programmed a line tracing robot for a competition and some more little projects. The club was quite fun so we continued next year.
            </p>
            <p>
                After I finished 10th grade I participated in SAP Geeky Camp. I had to take a test consisting of a large variety IT questions. There were also logical nonprogramming questions. 
                 Since I had good results I was accepted in the camp. The Camp was two weeks long and it was located in the SAP Labs building in Sofia. 
                 The first two days were about Java because that is the language used at Sap Labs. I did not find Java challenging because I already had experience with C# and C++. 
                 Then there was a lecture about github, source control and databases. 
                 After that we learned about programming trends such as machine learning, genetic algorithms, game development and even hacking. The last lecture was about 
                 web apps. We made a simple web app with java, maven and postgreSQL, and after that we made the same app but with Node Js. 
                 We learned how to present ideas and after that we had to come up with an idea which we had to develop for the final. We were assigned mentors to help us. The final was
                 next year so we had enough time to develop. The project I presented at the final was Robotic Plant Care. After that I also reached the final stage of this year's National Olympiad 
                 in Information Technologies with the same project. 
            </p>
            <p>
                I also took part in Softuni Fest. We were assigned a project by a client. After graduating 11th grade I started making this blog and worked some more on the project
                 from Softuni Fest. 
            </p>
    </div>
</body>