<body >
    <div style="border:1px solid #ddd;padding:1%" >
            <h1 style="text-align: center">Contact Me</h1>
            <hr>
            <style>
                    @media(max-width:767px){
                        h2 {font-size:6vw;}
                    }
                    @media (min-width: 768px) {  
                        h2 {font-size:2vw;} /*1rem = 16px*/
                    }
            </style>
            <h2 style="text-align: center">
                <a href="https://www.facebook.com/boris.velkovski.1">facebook.com/boris.velkovski.1</a></h4>
            </h2>
            <br>
            <h2 style="text-align: center">
                <a href="https://www.abv.bg/">bobi_velk@abv.bg</a></h4>
            </h2>
            <br>
            <a href="https://github.com/bokoto000">
                <img src="../../githubBig.png" style="display:block;margin-left:auto;margin-right:auto;max-width:90%;">
            </a>
    </div>
</body>